# Xcode

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSY
derived_data

## fastlane
fastlane/test_output
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
build_artifacts
output
.build